
@import '~@angular/material/theming';

@include mat-core();

$micro-private-primary: mat-palette($mat-indigo);
$micro-private-accent: mat-palette($mat-pink, A200, A100, A400);

$micro-private-warn: mat-palette($mat-red);

$micro-private-theme: mat-light-theme((
	color: (
		primary: $micro-private-primary,
		accent: $micro-private-accent,
		warn: $micro-private-warn,
	)
));

@include angular-material-theme($micro-private-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
